.example-card {
    width: 100%;
    height: 100%;
  }

  .example-header-image {
    background-image: url('https://via.placeholder.com/50');
    background-size: cover;
  }

  .estado-general-img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
  }
  